<html>

<head>
	<title>Gerenciador de Times</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<script src="jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="loading.css">

	<style>
		label {
			display: block;
			font-weight: bold;
			margin: 5px 0;
		}

		.icon-right {
			float: right;
		}

		.glyphicon {
			top: 3px;
			font-size: 18px;
		}

		.stylish-input-group .input-group-addon {
			background: white !important;
		}

		.stylish-input-group .form-control {
			border-right: 0;
			box-shadow: 0 0 0;
			border-color: #ccc;
		}

		.stylish-input-group button {
			border: 0;
			background: transparent;
		}

		.blue tr {
			background-color: dodgerblue;
			color: white;
		}

		.blue th {
			background-color: dodgerblue;
			color: white;
		}

		.green tr {
			background-color: rgb(28, 207, 82);
			color: white;
		}

		.green th {
			background-color: rgb(28, 207, 82);
			color: white;
		}

		.margin-8 {
			margin: 15px 8px 8px 15px;
		}

		.modal-body {
			max-height: calc(100vh - 200px);
			min-height: 230px;
			overflow-y: auto;
		}
	</style>
	<script src="angular.min.js"></script>
	<script>
		var app = angular.module("app", [])
		app.controller("appCtrl", function ($scope) {

			if (localStorage.dados && localStorage.dados.indexOf('[object Object]') < 0) {
				$scope.dados = JSON.parse(localStorage.dados)
			} else {
				$scope.dados = jsonObj();
			}

			this.novoJogador = "";
			$scope.loading = false;
			$scope.jsonString = localStorage.lista;
			$scope.editarQuantidade = false;
			$scope.todosJogadores = [];
			$scope.timeSelecionado = "";
			$scope.naoEncontrado = false;
			$scope.listaExistente = false;

			this.$onInit = function() {
				if(typeof localStorage.lista === 'undefined' || localStorage.lista == 'undefined' || !localStorage.lista){
					$('#modalTelaInicial').modal('show');
				}else{
					buscarListaFirebase(localStorage.lista);
				}
			}

			function jsonObj(){
				return {
					'id': null,
					'nomeLista': "",
					'time1': [],
					'time2': [],
					'aguardando': [],
					'quantidade': 3,
					'historico': [],
					'posicaoHistorico': 0,
					'jogadorSelecionado': ""
				}
			}

			function salvarSessao() {
				var dados = angular.copy($scope.dados);
				dados.historico = [];
				var json = JSON.stringify(dados);
				if ($scope.dados.posicaoHistorico > 0) {
					$scope.dados.historico = $scope.dados.historico.slice(0, $scope.dados.posicaoHistorico);
				}
				if ($scope.dados.historico.length > 10) {
					$scope.dados.historico = $scope.dados.historico.slice(1, $scope.dados.historico.length);
				}
				$scope.dados.historico.push(json);
				$scope.dados.posicaoHistorico = $scope.dados.historico.length;
				
				localStorage.dados = JSON.stringify($scope.dados);
				localStorage.lista = $scope.dados.nomeLista;
				
				$scope.jsonString = localStorage.dados;
				salvarFirebase($scope.dados.nomeLista, $scope.dados.id, localStorage.dados);
			}

			$scope.criarLista = function(lista){
				if(lista){
					$('#modalCriarLista').modal('hide'); 
					$scope.listaExistente = false;
					$scope.dados = jsonObj();
					$scope.dados.nomeLista = lista;
					salvarSessao();
				}else{
					$scope.listaExistente = true;
				}
				$scope.loading = false;
			}

			$scope.cancelar = function(){
				if(!localStorage.lista){
					$('#modalTelaInicial').modal('show');
				}
			}

			$scope.limpar = function () {
				$scope.dados.time1 = [];
				$scope.dados.time2 = [];
				$scope.dados.aguardando = [];
				$scope.dados.quantidade = 3;
				salvarSessao();
			}

			$scope.desfazer = function () {
				buscarListaFirebase($scope.dados.nomeLista);
				if ($scope.dados.posicaoHistorico > 1) {
					$scope.dados.posicaoHistorico = $scope.dados.posicaoHistorico - 1;
					var dados = JSON.parse($scope.dados.historico[$scope.dados.posicaoHistorico - 1]);
					$scope.dados.time1 = dados.time1;
					$scope.dados.time2 = dados.time2;
					$scope.dados.aguardando = dados.aguardando;
					$scope.dados.quantidade = dados.quantidade;
					salvarSessao();
				}
			}

			$scope.refazer = function () {
				buscarListaFirebase($scope.dados.nomeLista);
				if ($scope.dados.historico.length > $scope.dados.posicaoHistorico) {
					$scope.dados.posicaoHistorico = $scope.dados.posicaoHistorico + 1;
					var dados = JSON.parse($scope.dados.historico[$scope.dados.posicaoHistorico - 1]);
					$scope.dados.time1 = dados.time1;
					$scope.dados.time2 = dados.time2;
					$scope.dados.aguardando = dados.aguardando;
					$scope.dados.quantidade = dados.quantidade;
					salvarSessao();
				}
			}

			$scope.adicionar = function () {
				if(!localStorage.lista){
					$('#modalTelaInicial').modal('show');
					return false;
				}
				var qtdTime1 = $scope.dados.time1.length;
				var qtdTime2 = $scope.dados.time2.length;
				var qtd = $scope.dados.quantidade;
				var jogador = this.novoJogador;
				if (jogador) {
					$scope.loading = true;
					buscarListaFirebase($scope.dados.nomeLista);

					if ($scope.dados.time1.indexOf(jogador) >= 0 || $scope.dados.time2.indexOf(jogador) >= 0 || $scope.dados.aguardando.indexOf(jogador) >= 0) {
						alert("O jogador já existe!");
						return false;
					}

					//if (qtdTime1 < qtd && qtdTime1 <= qtdTime2) {
					//	$scope.dados.time1.push(jogador);
					//} else if (qtdTime2 < qtd) {
					//	$scope.dados.time2.push(jogador);
					//} else {
						$scope.dados.aguardando.push(jogador);
					//}
					this.novoJogador = "";
					$scope.selecionarJogador(jogador);
					salvarSessao();
					$scope.loading = false;
				}
			}

			$scope.mostrarEditarQuantidade = function () {
				if(!localStorage.lista){
					$('#modalTelaInicial').modal('show');
					return false;
				}
				$scope.editarQuantidade = true;
			}

			$scope.concluirEditarQuantidade = function () {
				$scope.loading = true;
				buscarListaFirebase($scope.dados.nomeLista);
				var qtd = $scope.dados.quantidade;
				var time = $scope.dados.time1.length <= $scope.dados.time2.length ? 'time1' : 'time2';
				if (qtd < $scope.dados.time1.length) {
					time = $scope.dados.time1.length > $scope.dados.time2.length ? 'time1' : 'time2';
				}
				var qtdTime = $scope.dados[time].length;

				if (qtdTime > qtd) {
					$scope.dados.aguardando.unshift($scope.dados[time][qtdTime - 1]);
					$scope.dados[time] = $scope.dados[time].slice(0, qtdTime - 1);
					$scope.concluirEditarQuantidade();
					return true;
				}

				if (qtdTime < qtd && $scope.dados.aguardando.length > 0) {
					$scope.dados[time].push($scope.dados.aguardando[0]);
					$scope.dados.aguardando = $scope.dados.aguardando.slice(1, $scope.dados.aguardando.length);
					$scope.concluirEditarQuantidade();
					return true;
				}
				$scope.editarQuantidade = false;
				salvarSessao()
				$scope.loading = false;
			}

			$scope.removerJogador = function () {
				$scope.loading = true;
				buscarListaFirebase($scope.dados.nomeLista);
				var lista = $scope.timeSelecionado;
				var jogador = $scope.dados.jogadorSelecionado
				$scope.dados[lista] = $scope.dados[lista].filter(x => x != jogador);
				if ((lista == "time1" || lista == "time2") && $scope.dados.aguardando.length > 0) {
					$scope.dados[lista].push($scope.dados.aguardando[0]);
					$scope.dados.aguardando = $scope.dados.aguardando.slice(1, $scope.dados.aguardando.length);
				}
				salvarSessao()
				$scope.loading = false;
			}

			$scope.substituirJogador = function (jogadorNovo) {
				$scope.loading = true;
				buscarListaFirebase($scope.dados.nomeLista);
				var listaOrigem = $scope.dados.time1.some(x => x == $scope.dados.jogadorSelecionado) ? "time1" : "aguardando";
				listaOrigem = $scope.dados.time2.some(x => x == $scope.dados.jogadorSelecionado) ? "time2" : listaOrigem;

				var listaDestino = $scope.dados.time1.some(x => x == jogadorNovo) ? "time1" : "aguardando";
				listaDestino = $scope.dados.time2.some(x => x == jogadorNovo) ? "time2" : listaDestino;


				var posicao = $scope.dados[listaOrigem].indexOf($scope.dados.jogadorSelecionado);
				if (posicao >= 0) {
					var lista = $scope.dados[listaOrigem].slice(0, posicao);
					lista.push(jogadorNovo);
					lista.push(...$scope.dados[listaOrigem].slice(posicao + 1, $scope.dados[listaOrigem].length));
					$scope.dados[listaOrigem] = lista;
				}

				posicao = $scope.dados[listaDestino].indexOf(jogadorNovo);
				if (posicao >= 0) {
					var lista2 = $scope.dados[listaDestino].slice(0, posicao);
					lista2.push($scope.dados.jogadorSelecionado);
					lista2.push(...$scope.dados[listaDestino].slice(posicao + 1, $scope.dados[listaDestino].length));
					$scope.dados[listaDestino] = lista2;
				}
				$('#substituirJogador').modal('hide');
				salvarSessao()
				$scope.loading = false;
			}

			$scope.selecionarTime = function (time) {
				$scope.timeSelecionado = time;
			}

			$scope.rotacionarFila = function (fila) {
				buscarListaFirebase($scope.dados.nomeLista);
				if (fila == 'inicio') {
					var lista = [];
					lista.push(...$scope.dados[$scope.timeSelecionado]);
					$scope.dados[$scope.timeSelecionado] = [];
					$scope.concluirEditarQuantidade();
					lista.push(...$scope.dados.aguardando);
					$scope.dados.aguardando = lista;
				} else {
					$scope.dados.aguardando.push(...$scope.dados[$scope.timeSelecionado]);
					$scope.dados[$scope.timeSelecionado] = [];
					//$scope.concluirEditarQuantidade();
					$('#modalMensagemSubirLista').modal('show');
				}
				salvarSessao();
			}

			$scope.up = function (jogador) {
				if($scope.dados.jogadorSelecionado == jogador){
					$scope.loading = true;
					buscarListaFirebase($scope.dados.nomeLista);
					var lista = [];
					lista.push(...$scope.dados.time1);
					lista.push(...$scope.dados.time2);
					lista.push(...$scope.dados.aguardando);

					var position = lista.indexOf(jogador);
					let qtd = $scope.dados.quantidade;
					let qtdTime1 = $scope.dados.time1.length;
					let qtdTime2 = $scope.dados.time2.length;

					if(position > 0 || qtdTime1 < qtd || qtdTime2 < qtd ){
						if($scope.dados.time2.indexOf(jogador) == 0 && qtdTime1 < qtd){
							qtdTime1++;
							qtdTime2--;
						}else if($scope.dados.aguardando.indexOf(jogador) == 0 && qtdTime2 < qtd){
							qtdTime2++;
						}else{
							lista.splice(position, 1);
							lista.splice(position - 1, 0, jogador);
						}

						$scope.dados.time1 = lista.slice(0, qtdTime1);
						$scope.dados.time2 = lista.slice(qtdTime1, qtdTime1+qtdTime2);
						$scope.dados.aguardando = lista.slice(qtdTime1+qtdTime2, lista.length);
						salvarSessao()
					}
					$scope.loading = false;
				}
				$scope.selecionarJogador(jogador);
			}

			$scope.down = function (jogador) {
				if($scope.dados.jogadorSelecionado == jogador){
					$scope.loading = true;
					buscarListaFirebase($scope.dados.nomeLista);
					$scope.dados.jogadorSelecionado = jogador;
					var lista = [];
					lista.push(...$scope.dados.time1);
					lista.push(...$scope.dados.time2);
					lista.push(...$scope.dados.aguardando);

					var position = lista.indexOf(jogador);
					let qtd = $scope.dados.quantidade;
					let qtdTime1 = $scope.dados.time1.length;
					let qtdTime2 = $scope.dados.time2.length;

					lista.splice(position, 1);
					lista.splice(position + 1, 0, jogador);

					$scope.dados.time1 = lista.slice(0, qtdTime1);
					$scope.dados.time2 = lista.slice(qtdTime1, qtdTime1+qtdTime2);
					$scope.dados.aguardando = lista.slice(qtdTime1+qtdTime2, lista.length);
					salvarSessao()
					$scope.loading = false;
				}
				$scope.selecionarJogador(jogador);
			}

			$scope.corTabela = function (jogador, cor1, cor2) {
				if (jogador == $scope.dados.jogadorSelecionado && $scope.dados.jogadorAnterior != $scope.dados.jogadorSelecionado) {
					return "background-color:"+cor1+"; border: 2px solid #fbef05; font-weight:bold;";
				}
				return "background-color:"+cor2;
			}

			$scope.isSelecionado = function (jogador) {
				return jogador == $scope.dados.jogadorSelecionado && $scope.dados.jogadorAnterior != $scope.dados.jogadorSelecionado;
			}

			$scope.selecionarJogador = function (jogador) {
				if($scope.dados.jogadorAnterior == $scope.dados.jogadorSelecionado){
					$scope.dados.jogadorAnterior = "";
				}else{
					$scope.dados.jogadorAnterior = $scope.dados.jogadorSelecionado;
				}
				$scope.dados.jogadorSelecionado = jogador;
			}

			$scope.exibirModalExcluir = function (jogador, time) {
				if($scope.dados.jogadorSelecionado == jogador){
					$scope.selecionarJogador(jogador);
					$scope.timeSelecionado = time;
					$('#modalExcluir').modal('show');
				}
				$scope.selecionarJogador(jogador);
			}

			$scope.carregarLista = function(json){
				if(json){
					$scope.dados = json;
					$scope.naoEncontrado = false;
					localStorage.dados = JSON.stringify(json);
					localStorage.lista = json.nomeLista;
					$scope.jsonString = localStorage.dados;
					$('#modalAbrirLista').modal('hide');
				}else{
					$scope.naoEncontrado = true;
				}
				$scope.loading = false;
			}

			$scope.escalarProximoTime = function(){
				buscarListaFirebase($scope.dados.nomeLista);
				var totalTime = $scope.dados[$scope.timeSelecionado].length;
				$scope.dados[$scope.timeSelecionado].push(...$scope.dados.aguardando.slice(totalTime, $scope.dados.quantidade));
				$scope.dados.aguardando.splice(0, $scope.dados.quantidade-totalTime);
				salvarSessao();
			}
		});

		function limpar() {
			var scope = angular.element(document.getElementById('appCtrl')).scope();
			scope.$apply(function () {
				scope.loading = true;
				scope.limpar()
				scope.loading = false;
			})
		}

		function desfazer() {
			var scope = angular.element(document.getElementById('appCtrl')).scope();
			scope.$apply(function () {
				scope.loading = true;
				scope.desfazer()
				scope.loading = false;
			})
		}

		function refazer() {
			var scope = angular.element(document.getElementById('appCtrl')).scope();
			scope.$apply(function () {
				scope.loading = true;
				scope.refazer()
				scope.loading = false;
			})
		}

		function salvarFirebase(lista, id, json){
			if(typeof android !== 'undefined'){
				android.salvar(lista, id, json)
			}
		}

		function buscarLista(){
			var scope = angular.element(document.getElementById('appCtrl')).scope();
			scope.$apply(function () {
				scope.loading = true;
			})
			var lista = document.getElementById("nomeLista").value;
			buscarListaFirebase(lista.trim().toUpperCase());
		}

		function buscarListaFirebase(lista){
			if(typeof android !== 'undefined'){
				android.buscar(lista);
			}
		}
		
		function carregarLista(json){
			var scope = angular.element(document.getElementById('appCtrl')).scope();
			scope.$apply(function () {
				scope.carregarLista(json);
			})
		}

		function abrirLista() {
			document.getElementById("nomeLista").value = "";
			$('#modalAbrirLista').modal('show');
			var scope = angular.element(document.getElementById('appCtrl')).scope();
			scope.$apply(function () {
				scope.naoEncontrado = false;
			})
		}

		function criarListaFireBase(){
			var lista = document.getElementById("novaLista").value;
			if(typeof android !== 'undefined'){
				var scope = angular.element(document.getElementById('appCtrl')).scope();
				scope.$apply(function () {
					scope.loading = true;
					android.criarLista(lista);
				});
			}
		}

		function criarLista(lista) {
			var scope = angular.element(document.getElementById('appCtrl')).scope();
			scope.$apply(function () {
				scope.criarLista(lista);
			});
		}

		function menuNovaLista() {
			document.getElementById("novaLista").value = "";
			var scope = angular.element(document.getElementById('appCtrl')).scope();
			scope.$apply(function () {
				scope.listaExistente = false;
			});
			$('#modalCriarLista').modal('show');
		}

		function salvarId(id){
			var scope = angular.element(document.getElementById('appCtrl')).scope();
			scope.$apply(function () {
				scope.dados.id = id;
			})
		}
	</script>
</head>

<body id="appCtrl" ng-app="app" ng-controller="appCtrl">
	<div class="loading" ng-if="loading">Loading&#8230;</div>
	<div>
		<div class="col-sm-12 col-lg-12">
			<div class="col-sm-5 col-lg-5">
				<h3>Lista: <b>{{dados.nomeLista}}</b></h3>
			</div>
		</div>
		<div class="col-sm-12 col-lg-12 margin-8" style="display:flex; align-items:center" ng-if="!editarQuantidade">
			<b>Quantidade de jogadores por time: {{dados.quantidade}}</b>
			<button type="submit" ng-click="mostrarEditarQuantidade()" style="margin-left:5px;margin-bottom:5px">
				<span class="icon-right glyphicon glyphicon-pencil"
					style="font-size:13px; margin: 2px 3px 6px 2px"></span>
			</button>
		</div>
		<div class="col-sm-12 col-lg-12 margin-8" ng-if="editarQuantidade">
			<b>Quantidade de jogadores por time:</b>
			<input type="number" ng-model="dados.quantidade" value="" />
			<button type="submit" ng-click="concluirEditarQuantidade()">Concluir</button>
		</div>
		<div class="col-sm-12 col-lg-12">
			<div class="col-sm-5 col-lg-5">
				<table id="table" class="table blue">
					<th colspan="3" width="81%">Time A</th>
					<th onclick="$('#menuAuxiliar').modal('show');" ng-click="selecionarTime('time1')" class="text-center">
						<span class="glyphicon glyphicon-cog"></span>
					</th>
					<tr ng-repeat="jogador in dados.time1" style="{{corTabela(jogador, 'rgb(10, 99, 187)', 'dodgerblue')}}">
						<td width="70%" ng-click="selecionarJogador(jogador)">{{jogador}}</td>
						<td align="center" width="7%" ng-click="up(jogador)">
							<span ng-if="isSelecionado(jogador)" class="glyphicon glyphicon-arrow-up" style="margin-right:20px"></span>
						</td>
						<td align="center" width="7%" ng-click="down(jogador)">
							<span ng-if="isSelecionado(jogador)" class="glyphicon glyphicon-arrow-down" style="margin-right:20px"></span>
						</td>
						<!--td width="15%" onclick="$('#substituirJogador').modal('show');" align="center" ng-click="selecionarJogador(jogador)">
							<span class="glyphicon glyphicon-refresh"></span>
						</td-->
						<td ng-click="exibirModalExcluir(jogador, 'time1')" align="center">
							<span ng-if="isSelecionado(jogador)" class="glyphicon glyphicon-remove"></span>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-1 col-lg-1" align="center">
				<h1>X</h1>
			</div>
			<div class="col-sm-5 col-lg-5">
				<table id="table" class="table green">
					<th colspan="3" width="81%">Time B</th>
					<th onclick="$('#menuAuxiliar').modal('show');" ng-click="selecionarTime('time2')" class="text-center">
						<span class="glyphicon glyphicon-cog"></span>
					</th>
					<tr ng-repeat="jogador in dados.time2" style="{{corTabela(jogador, 'rgb(9, 156, 53)', 'rgb(28, 207, 82)')}}">
						<td width="70%" ng-click="selecionarJogador(jogador)">{{jogador}}</td>
						<td align="center" width="7%" ng-click="up(jogador)">
							<span ng-if="isSelecionado(jogador)" class="glyphicon glyphicon-arrow-up" style="margin-right:20px"></span>
						</td>
						<td align="center" width="7%" ng-click="down(jogador)">
							<span ng-if="isSelecionado(jogador)" class="glyphicon glyphicon-arrow-down" style="margin-right:20px"></span>
						</td>
						<!--td width="15%" onclick="$('#substituirJogador').modal('show');" align="center" ng-click="selecionarJogador(jogador)">
							<span class="glyphicon glyphicon-refresh"></span>
						</td-->
						<td ng-click="exibirModalExcluir(jogador, 'time2')" align="center">
							<span ng-if="isSelecionado(jogador)" class="glyphicon glyphicon-remove"></span>
						</td>
					</tr>
				</table>
			</div>
			<table id="table" class="table" ng-if="dados.aguardando.length > 0">
				<th colspan="3" width="100%">Fila de Espera</th>
				<tr ng-repeat="jogador in dados.aguardando" style="{{corTabela(jogador, '#ADA9A9', '#EFECEC')}}">
					<td width="81%" ng-click="selecionarJogador(jogador)">{{jogador}}</td>
					<td align="center" width="7%" ng-click="up(jogador)">
						<span ng-if="isSelecionado(jogador)" class="glyphicon glyphicon-arrow-up" style="margin-right:20px"></span>
					</td>
					<td align="center" width="7%" ng-click="down(jogador)">
						<span ng-if="isSelecionado(jogador)" class="glyphicon glyphicon-arrow-down" style="margin-right:20px"></span>
					</td>
					<!--td width="15%" onclick="$('#substituirJogador').modal('show');" align="center" ng-click="selecionarJogador(jogador)">
						<span class="glyphicon glyphicon-refresh"></span>
					</td-->
					<td ng-click="exibirModalExcluir(jogador, 'aguardando')" align="center">
						<span ng-if="isSelecionado(jogador)" class="glyphicon glyphicon-remove"></span>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-12 col-lg-12 margin-8" style="display:flex; align-items:center" ng-if="dados.quantidade > 0">
			<input type="text" size="15" id="novoJogador" ng-model="novoJogador" placeholder="Adicionar Jogador" />
			<button type="submit" ng-click="adicionar()" onclick="document.getElementById('novoJogador').focus();"
				style="margin: 5px 0px 5px 5px">
				<span class="icon-right glyphicon glyphicon-plus"
					style="font-size:13px; margin: 1px 8px 6px 8px"></span>
			</button>
		</div>
		<!--Treta: {{jsonString}}-->
	</div>
	<!-- Modal -->
	<div id="menuAuxiliar" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p><b>Selecione uma opção:</b></p>
					<p style="margin:20px 0px 38px 0px" ng-if="dados[timeSelecionado].length > 0" ng-click="rotacionarFila('fim')" onclick="$('#menuAuxiliar').modal('hide');">
						Enviar o <b>{{timeSelecionado == 'time1' ? 'Time A' : 'Time B'}}</b> para a fila de espera
					</p>
					<!--p style="margin:20px 0px 38px 0px" ng-click="rotacionarFila('inicio')" onclick="$('#menuAuxiliar').modal('hide');">
						Enviar time para o início da fila de espera e substituir por próximo time da fila
					</p-->
					<p style="margin:20px 0px 38px 0px" ng-if="dados[timeSelecionado].length <= 0" ng-click="escalarProximoTime()" onclick="$('#menuAuxiliar').modal('hide');">
						Escalar próximo time da lista de espera
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div id="substituirJogador" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p style="margin:10px 0px 38px 0px"><b>Informe um jogador para a substituição</b></p>
					<b>Time 1</b>
					<p style="margin:5px 0px 23px 0px" ng-repeat="jogador in dados.time1" ng-click="substituirJogador(jogador)">
						{{jogador}}
					</p>
					<b>Time 2</b>
					<p style="margin:5px 0px 23px 0px" ng-repeat="jogador in dados.time2" ng-click="substituirJogador(jogador)">
						{{jogador}}
					</p>
					<b>Fila de espera</b>
					<p style="margin:5px 0px 23px 0px" ng-repeat="jogador in dados.aguardando" ng-click="substituirJogador(jogador)">
						{{jogador}}
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="modalExcluir" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="min-height:150px">
					<p style="margin:10px 0px 28px 0px"><b>Deseja remover esse jogador?</b></p>
					<button type="submit" ng-click="removerJogador()" onclick="$('#modalExcluir').modal('hide');"
						style="margin: 5px 0px 5px 5px; width:80px">
						Sim
					</button>
					<button type="submit" onclick="$('#modalExcluir').modal('hide');"
						style="margin: 5px 0px 5px 5px; width:80px">
						Não
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="modalTelaInicial" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="min-height:320px" align="center">
					<button type="submit" onclick="$('#modalTelaInicial').modal('hide'); $('#modalCriarLista').modal('show');"
						style="margin: 5px 0px 5px 5px; width:300px; height:110px">
						Criar Nova Lista
					</button>
					<br /><br />
					<button type="submit" onclick="$('#modalTelaInicial').modal('hide'); abrirLista();"
						style="margin: 5px 0px 5px 5px; width:300px; height:110px">
						Abrir Lista Existente
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="modalCriarLista" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="min-height:320px" align="center">
					<labeL>Informe o nome da Lista:</labeL>
					<input type="text" id="novaLista" />
					<br /><br />
					<button type="submit" onclick="criarListaFireBase()"
						style="margin: 5px 0px 5px 5px; width:100px; height:30px">
						Criar Lista
					</button>
					<button type="submit" onclick="$('#modalCriarLista').modal('hide');" ng-click="cancelar()"
						style="margin: 5px 0px 5px 5px; width:100px; height:30px">
						Cancelar
					</button>
					<p style="color: red;" ng-if="listaExistente">Já existe uma lista cadastrada com esse nome</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="modalAbrirLista" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="min-height:320px" align="center">
					<labeL>Informe o nome da Lista:</labeL>
					<input type="text" id="nomeLista" />

					<br /><br />
					<button type="submit" onclick="buscarLista()"
						style="margin: 5px 0px 5px 5px; width:100px; height:30px">
						Abrir Lista
					</button>
					<button type="submit" onclick="$('#modalAbrirLista').modal('hide');" ng-click="cancelar()"
						style="margin: 5px 0px 5px 5px; width:100px; height:30px">
						Cancelar
					</button>
					<p style="color: red;" ng-if="naoEncontrado">Lista não encontrada</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="modalMensagemSubirLista" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="min-height:320px" align="center">
					<p style="margin:10px 0px 28px 0px">
						O <b>{{timeSelecionado == 'time1' ? 'Time A' : 'Time B'}}</b> foi enviado para o final da lista de espera. Gostaria de escalar o próximo time da lista de espera?
					</p>
					<button type="submit" ng-click="escalarProximoTime()" onclick="$('#modalMensagemSubirLista').modal('hide');"
						style="margin: 5px 0px 5px 5px; width:80px">
						Sim
					</button>
					<button type="submit" onclick="$('#modalMensagemSubirLista').modal('hide');"
						style="margin: 5px 0px 5px 5px; width:80px">
						Não
					</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>